body > *, a, a:hover, .form-control, .form-control:focus, .form-control::placeholder {
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  font-family: 'Orbitron', sans-serif;
}

h2 {
  padding: calc(1rem * 3);
  text-align: center;
}

.navbar {
  padding: 1rem;
  box-shadow: 5px 5px 5px black;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 calc(1rem * 1.5);
}

#welcome-section, #contact-section, footer {
  background: rgb(44, 48, 51);
}

#welcome-section {
  height: 100vh;
  color: rgb(249, 132, 239);
}

#welcome-section * {
  display: none;
}

#welcome-section p {
  font-size: 1.5rem;
}

#projects {
  padding: 1rem;
  background: url('https://thumbs.dreamstime.com/b/blue-bokeh-computer-code-background-job-offer-blue-bokeh-computer-code-background-job-offer-coding-code-learning-180554511.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact-section {
  padding: 1rem 1rem 0;
}

.project-tile {
  box-shadow: 5px 5px 10px black;
}

.project-tile:hover {
  box-shadow: none;
}

.card {
  width: 20rem;
}

form, #icons-container {
  width: 40rem;
}

.form-control, .form-control:focus {
  background: transparent;
}

.icon {
  padding: 1rem;
}

footer {
  padding: 0 1rem 1rem;
}
