body > *, a, a:hover, .form-control, .form-control:focus, .form-control::placeholder {
  color: white;
}

.navbar {
  box-shadow: 5px 5px 5px black;
  font-size: 1.2rem;
  font-weight: bold;
}

#welcome-section, #contact-section, footer {
  background: rgb(44, 48, 51);
}

#welcome-section {
  height: 100vh;
}

#projects {
  background: url('https://thumbs.dreamstime.com/b/blue-bokeh-computer-code-background-job-offer-blue-bokeh-computer-code-background-job-offer-coding-code-learning-180554511.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-tile {
  box-shadow: 5px 5px 10px black;
}

.project-tile:hover {
  box-shadow: none;
}

.card {
  width: 325px;
}

form, #icons-container {
  width: 600px;
}

.form-control, .form-control:focus {
  background: transparent;
}
